@model EfDotnet.DataContext.CategoryEntity
@{
    ViewData["Title"] = "Detail Category";
}

<h2>Detail Category</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Code</th>
        <td>@Model.CategoryCode</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.CategoryName</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
</table>
<a asp-action="GetAll" class="btn btn-sm btn-danger">Back</a>

